/* styles.css */


html {
    margin-bottom: 0;
}

body {
    margin: 0;
}

.checkbox {
    position: inherit;
    text-align: center;
}

.image-container {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.container {
    position: relative;
    padding-top: 2%;
}

.container-cards {
    position: relative;
    padding-top: 2%;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.8s;
    border-top: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
}

.download-button {
    position: absolute;
    top: 91%;
    left: 80%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
    background-color: #FF3300;
    border-radius: 12px;
}

.download-button a {
    display: block;
    background: #FF3300(0, 0%, 35%);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
}

.image-container:hover img {
    transform: scale(1.3);
}

.image-container:hover .download-button {
    opacity: 0.9;
}

h1 {
    text-align: center;
    padding-bottom: 2%;
}

.h1-container {
    font-family: 'Josefin Sans', sans-serif;
}

.h1-header{
    font-family: 'Cairo Play', sans-serif;
    color: #fff;
}

.image-container:hover {
    /* color: #424242; */
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 1;
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari and Chrome */
}

section {
    min-height: 50vh;
}

/* NAVBAR */

.navbar-logo {
    width: 300px;
    height: 50px;
    margin-top: 10px;

    
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.navbar .pos-f-t {
    padding: 10px 20px;
    margin: 10px;
    font-family: 'Cairo Play', sans-serif;

}

.nav-item{
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}



.text-muted {
    text-decoration: none;
}





/* CAROUSEL */

/*
.carousel-caption {
    position: relative;
    overflow: hidden;
    width: 30%;
    margin: auto;
    background-color: rgb(255, 51, 0, 0.8);
    text-align: center;
    border-top: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
}


.carousel-text {
    opacity: 1;
}

.d-block {
    width: 60%;
    margin: auto;
}

.carousel-control-prev {
    background-color: #FF3300;
    margin-right: 15px;
    margin-left: 15px;
}

.carousel-control-next {
    background-color: #FF3300;
    margin-right: 15px;
    margin-left: 15px;
}
*/


img{
    width: 30%;
    margin: auto;
 }

 .carousel-caption
 {
    color: white;
 }






/* CARD BUTTONS*/

/* .card-button {
    padding-bottom: 10px;
    padding-top: 10px;
}

#body > div.container-cards.col-sm-12.col-md-12.col-lg-6.mx-auto > div > div:nth-child(1) > div > div > a {
    background-color: #FF3300;
    color: #fff;
}

#body > div.container-cards.col-sm-12.col-md-12.col-lg-6.mx-auto > div > div:nth-child(2) > div > div > a {
    background-color: #FF3300;
    color: #fff;
}

.button {
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.5s;
    background-color: #ff3300;
    color: #000000;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    padding-bottom: 15px;
}

.button:hover {
    background-color: #FF3300;
    color: #fff;
    text-decoration: none;
} */



/* CARDS */


.container-cards {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: row;
} */

.row{
 padding: auto;
 margin: auto;
}

.card-row{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.card-text-overall{
    padding-left: 5px;
    padding-right: 5px;
}

/* .container-fluid {
    padding: 0px 0px;
} */

/* 

.card-row {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
}

.card-text {
    font-size: 16px;
    padding-bottom: 15px;
}

.card-title {
    padding-bottom: 30px;
}
*/

/* .card {
    position:fixed;
    margin: 0 1rem;
    float: none;
    margin-bottom: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 400px;
    justify-content: center;
} */

.button{
    width: auto;
}

.card{
    display: inline-flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
}

.btn{
    width: 30%;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-img-top {
    padding-top: 30px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 20px;
    height: auto;
}

.card-img-top:hover {
    color: #424242;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 1;
    transform: scale(1.02);
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
}







/* .card-body {
    text-align: center;
} */


.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}



/* FOOTER */

.backtop {
    display: block;
    position: relative;
    padding-top: 30px;
    text-decoration: inherit;
    text-align: center;
    font-size: 20px;
    width: 20%;
    color: #FF3300;
    margin-left: auto;
    margin-right: auto;
}

.backtop:hover {
    transform: scale(1.1);
    color: #FF3300;
    text-decoration: none;
}

.hr {
    color: darkgrey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 4%;
    margin-bottom: 70px;
    margin-left: 48%;
}

.hr2 {
    color: darkgrey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 50%;
    margin-bottom: 70px;
    margin-top: 10px;
    margin-left: 25%;
}

.hr3 {
    color: darkgrey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 70px;
    margin-left: 25%;
}

.hr4 {
    color: darkgrey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 25%;
}


.hr:hover {
    transform: scale(1.2);
}

/* FOOTER */

.social {
    position: relative;
}

.bottom-container {
    /* background-color: #ffffff; */
    height: 70px;
    margin-bottom: 0;
    padding-top: 10px;
}

.footer-link {
    display: inline-block;
    color: #FF3300;
    margin: 12.5px;
    text-decoration: none;
    font-size: 22px;
}

.copyright {
    margin-top: 10px;
    margin: 0;
    font-size: 12px;
    padding-top: 10px;
}

.copyright-rights {
    padding-top: 0px;
    margin-top: 10px;
    margin: 0;
    font-size: 12px;
    padding-top: -10px;
}

footer {
    margin: 0;
    text-align: center;
    position: relative;
    font-family: 'Cairo Play', sans-serif;
    height: 10px;
    line-height: 36px;
    margin-top: 45px;
    width: 100%;
}




/* @MEDIA STYLING */

@media(max-width: 991px) {
    .download-button {
        position: absolute;
        top: 84%;
        left: 72%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s;
        background-color: #FF3300;
        border-radius: 12px;
    }

    img{
        width: 50%;
        margin: auto;
     }

     .ReviewImage
    {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .card {
        margin: auto;
        width: 90%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    } 

    .btn{
        width: 30%;
        margin-bottom: 10px;
    }
}


@media (max-width: 767px) {
    /* .card-row {
        display: inline-flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        text-align: center;
        align-items: center;
    }*/

    .card {
        margin: auto;
        width: 90%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    } 

    h1 {
        padding-top: 10%;
        text-align: center;
        padding-bottom: 10%;
        margin-top: 20px;
    }
    
    .h1-container {
        font-family: 'Cairo Play', sans-serif;
    }

    /* .container-cards {
        padding: 1rem 1rem;
        width: 90%;
        margin: 1rem 1rem;
        text-align: center;
        flex-direction: column;
        display: inline-flex;
        align-items: center;
    } */

    .card-img-top {
        padding-top: 30px;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 20px;
        height: auto;
        width: 60%;
    }

    .btn{
        width: 30%;
        margin-bottom: 10px;
    }

    .navbar-ar2023 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }


    .nav-item {
        text-align: right;
    }

    .pos-f-t {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .navbar-logo {
        width: 280px;
        height: 50px;
        margin-top: 20px;
        
        margin-right: 0;
    }

    .d-block {
        width: 90%;
        margin: auto;
    }

    .backtop {
        display: block;
        position: relative;
        padding-top: 30px;
        text-decoration: inherit;
        text-align: center;
        font-size: 20px;
        width: 30%;
        color: #FF3300;
        margin-left: auto;
        margin-right: auto;
    }

    .download-button {
        position: absolute;
        top: 90%;
        left: 85%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s;
        background-color: #FF3300;
        border-radius: 12px;
    }
    
    img{
        width: 80%;
        margin: auto;
     }
    
     .carousel-caption
     {
        color: white;
     }

     .ReviewImage
    {

        width: 100%;
        height: auto;
    }

    }


@media (max-width: 408px) {
    /* .card-row {
        display: inline-flex;
        flex-direction: column;
        width: 98%;
        text-align: center;
        align-items: center;
    }*/

    .card {
        width: 98%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    } 

    .container-cards {
        padding: 1rem 1rem;
        width: 98%;
        margin: 1rem 1rem;
        text-align: center;
        flex-direction: column;
        display: inline-flex;
        align-items: center;
        text-align: center;
    }
    

    .card-img-top {
        padding-top: 30px;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 20px;
        height: auto;
        width: auto;
        text-align: center;
    }

    .btn{
        width: 30%;
        margin-bottom: 10px;
    }


    h1 {
        padding-top: 10%;
        text-align: center;
        padding-bottom: 10%;
        margin-top: 20px;
    }
    
    .h1-container {
        font-family: 'Cairo Play', sans-serif;
    }


    .navbar {
        font-family: 'Cairo Play', sans-serif;
        font-size: small;
    }

    .navbar-ar2023 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    /* .navbar-brand {
        width: 90px;
        height: 40px;
    } */

    .nav-item {
        text-align: right;
    }

    .pos-f-t {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .navbar-logo {
        width: 190px;
        height: 35px;
        margin-top: 20px;
        margin-right: 0;
    }

    .d-block {
        width: 90%;
        margin: auto;
    }

    .backtop {
        display: block;
        position: relative;
        padding-top: 30px;
        text-decoration: inherit;
        text-align: center;
        font-size: 20px;
        width: 50%;
        color: #FF3300;
        margin-left: auto;
        margin-right: auto;
    }

    .download-button {
        position: absolute;
        top: 80%;
        left: 75%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s;
        background-color: #FF3300;
        border-radius: 12px;
    }

    img{
        width: 90%;
        margin: auto;
     }
    
     .carousel-caption
     {
        color: white;
     }

     .ReviewImage
     {
 
         width: 100%;
         height: auto;
     }
}

@media (max-width: 284px) {

    /* .card-row {
        display: inline-flex;
        flex-direction: column;
        width: 98%;
        text-align: center;
        align-items: center;
    }

    .card {
        width: 98%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .container-cards {
        padding: 1rem 1rem;
        width: 98%;
        margin: 1rem 1rem;
        text-align: center;
        flex-direction: column;
        display: inline-flex;
        align-items: center;
        text-align: center;
    }

    .card-img-top {
        padding-top: 30px;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 20px;
        height: 10%;
        width: 35%;
        text-align: center;
    } */


    h1 {
        padding-top: 10%;
        text-align: center;
        padding-bottom: 10%;
        margin-top: 20px;
    }
    
    .h1-container {
        font-family: 'Cairo Play', sans-serif;
    }


    .navbar {
        font-family: 'Cairo Play', sans-serif;
        font-size: small;
    }

    .navbar-ar2023 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    /* .navbar-brand {
        width: 90px;
        height: 40px;
    } */

    .nav-item {
        text-align: right;
    }

    .pos-f-t {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .navbar-logo {
        width: 190px;
        height: 35px;
        margin-top: 20px;
        margin-right: 0;
    }

    .d-block {
        width: 90%;
        margin: auto;
    }

    .backtop {
        display: block;
        position: relative;
        padding-top: 30px;
        text-decoration: inherit;
        text-align: center;
        font-size: 20px;
        width: 50%;
        color: #FF3300;
        margin-left: auto;
        margin-right: auto;
    }

    img{
        width: 30%;
        margin: auto;
     }
    
     

     #carouselExampleDark{
    width: 100%;
    margin: auto;
    }


    .img-fluid{
        width: 100%;
    }

    .ReviewImage
    {

        width: 100%;
        height: auto;
    }
}